body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 1rem !important;
}

.footer-text {
  font-size: 0.85rem;
  color: #6c757d; /* Bootstrap's muted grey */
  line-height: 1.5;
}
.link-style{
  text-decoration: none !important;
  margin-top: 0.5rem !important;
}
.aboutpage-text {
  color: #0d0f10c5; /*Bootstrap's muted grey #0d0f10c5 */

}

.teampage-text {
  color: #090a0ac5; /*Bootstrap's muted grey #0d0f10c5 */

}